.main-content-type1
  .left-content
    %h2.top-hdg-01 新着のシゴト
    = render @works
    = paginate(@works, window: 2, outer_window: 1)
  .right-content
    = link_to root_path, class: "topbanner", method: :get do
      = image_tag("https://d1te0bovbq6epg.cloudfront.net/common/img/top_banner02.png", class: "topbanner__image", size: "340x282")
    %h3.top-hdg-02 新着 すごい旅研究所の記事
    .thum-column
      = link_to root_path, class: "thum-column__link", method: :get do
        .thum-column__link__image
          = image_tag("https://d1te0bovbq6epg.cloudfront.net/uploads/%E3%81%AE%E3%81%A3%E3%81%A1%E3%82%B3%E3%83%A9%E3%83%A0/nocci001square.jpeg", size: "60x60")
        .thum-column__link__content
          %h3.thum-column__link__content__title 「旅をしながら仕事がしたい」を叶えるためにわたしがまず実践したこと
          %p.thum-column__link__content__utility
            2017-03-22
            %span.thum-column__link__content__utility--view 2889 view
    %p.more-column もっと見る
    .sns
      %p.sns__logo
        = image_tag("https://d1te0bovbq6epg.cloudfront.net/common/img/logo.svg", class: "sns__logo__image", alt: "SAGOJO", size: "130x20")
        をフォローする
      %ul.sns__lists
        %li.sns__lists__list
          = link_to "https://www.facebook.com/sagojo.travel/?ref=aymt_homepage_panel", class: "sns__lists__list__link" do
            = image_tag("https://d1te0bovbq6epg.cloudfront.net/common/img/icon-fb.svg", class: "sns__lists__list__link--image", alt: "facebook")
            %span.sns__lists__list__link--text フォローする
        %li.sns__lists__list
          = link_to "https://twitter.com/sagojo_travel", class: "sns__lists__list__link sns__lists__list__link--background" do
            = image_tag("https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tw-02.svg", class: "sns__lists__list__link--image", alt: "twitter")
            %span.sns__lists__list__link--text フォローする
      %p.sns__message フォローして新着のシゴト情報をゲット！


